:root{
    --black-color: black;
    --white-color: rgb(255, 250, 250);
    --gray-color: rgb(189, 189, 189);
    --highlight-color: rgb(247, 102, 66);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white-color);
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    --gray-color: rgb(189, 189, 189);
}

.container{
    width: 100%;
    min-height: 100vh;
    background: var(--black-color);
    display: flex;
    flex-direction: column;
}

header{
    height: 100px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2{
    color: var(--highlight-color);
    font-size: 56px;
    font-weight: 700;
}

main{
    width: 100%;
    min-height: calc(100vh - 100px - 100px);
}

.game-post-highlight{
    width: 100%;
    position: relative;
}

.game-post-highlight-text-div{
   position: absolute;
   top: 25%;
   width: 100%;
   max-width: 600px;
   padding: 0 5px 0 15px;
   z-index: 1000;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.game-post-highlight-text-div h3{
    font-size: 40px;
}

.game-post-highlight-text-div p{
    margin-bottom: 20px; 
    font-size: 24px;
    font-weight: 300;
}

#btn-play{
    width: 100px;
    height: 40px;
    outline: none;
    border: none;
    background: var(--highlight-color);
    color: var(--white-color);
    align-self: flex-end;
    cursor: pointer;
    transition: opacity .1s linear;
}

#btn-play:active{
    opacity: .7;
}

.game-post-highlight-img-div{
    min-width: 600px;
    min-height: 400px;
    opacity: .5;
}

.game-post-highlight-img-div img{
    width: 100%;
    max-height: 700px;
}

footer{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer span{
    color: var(--highlight-color);
}